@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body{
  /* height:100%; */
  margin:0;
}

.loading {
  width:  100%;
  height:100vh;
  background-color: #CEC5C0;
  position: fixed;
  top:0;
  left:0;
  z-index:999;
  animation-name:fadeout;
  animation-delay:3.75s;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

.loading-gif {
  width: 10vw;
  text-align:center;
  margin-top:35vh;
  margin-left:45vw;
}

@keyframes fadeout {
    from {opacity:1; visibility:visible}
    to {opacity:0; visibility:hidden}
}


.App {
  text-align: center;
  height: 100%
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.home {
  position: relative;
  background-image: url(./imgsrc/HomeWallpaper.jpg);
  background-position: center;
  background-size:cover;
  height: 100vh;
  width:100%;
  top:0;
  left:0;
  margin:0;
  padding-top:30vh;
  font-family: 'Manrope', sans-serif;  
}

#thumbnail {
  max-width:300px;
  max-height:300px;
}

div a {
  font-family: 'Sacramento', cursive;
}

.discover {
  bottom:0;
  padding-bottom:25px;
  width:100%;
  align-items: center;
  text-align: center;
  position: absolute;
}

.discover-hover {
  transition: transform 250ms ease-in-out;
  display:inline-block;
}

.discover-hover:hover {
  transform: scale(1.2);
}

.text-discover{
  display:inline-block;
  font-size: 14px;
  font-family:'Manrope', sans-serif;  
  color: #ffffff;
  width: 65%;
  display:inline-block;
  margin:0;
  padding:0;
}

.arrow-holder{
  display:inline-block;
  margin:0;
  padding:0;
  align-items: center;
  text-align: center;
  height:50px;
  width:65%;
  position: relative;
  bottom: 0px;
  opacity:1;
}

.arrow{
  filter:invert(1);
}

.page-title {
  align-items:center;
  text-align:center;
}

.page-subtitle {
  text-align:center;
  color: #e6d3bc;
  font-size: 50px;
}

.center-subtitle {
  padding-top:40px;
}

.logo {
  max-width: 150px;
  transition: transform 250ms ease-in-out;
}

.logo:hover {
  transform: scale(1.05);
}

.display {
  position: relative;
  background-color: #CEC5C0;
  height: 100vh;
  width:100%;
  top:0;
  left:0;
  margin:0;
  padding-top:100px;
  font-family: 'Sacramento', cursive;
}

.display-cabinet {
  text-align: right;
}

.display-holder{
  right:0;
  text-align:right;
  /* margin-bottom: 50px; */
  width: 100%;
  position:absolute;
}

img {
  max-width: 100%;
  max-height: 100%;
}


img.product1 {
  animation-name: enddisplay;
  animation-duration: 750ms;
  position:absolute;
  max-height: 40%;
  top:75px;
  left:275px;
  /* transition: 250ms ease-in-out; */
  z-index:5;
}

img.product1:hover {
  /* transform: rotate(-10deg) translate(20px,-5px); */
  animation-name: startdisplay;
  animation-duration: 500ms;
  animation-fill-mode: forwards
}

img.product2 {
  animation-name: enddisplay;
  animation-duration: 750ms;
  position:absolute;
  max-height: 35%;
  top:70px;
  left:360px;
  /* transition: 250ms ease-in-out; */
  z-index:4;
}

img.product2:hover {
  /* transform: rotate(-10deg) translate(20px,-5px); */
  animation-name: startdisplay;
  animation-duration: 500ms;
  animation-fill-mode: forwards
}

img.product3 {
  animation-name: enddisplay;
  animation-duration: 750ms;
  position:absolute;
  max-height: 40%;
  top:75px;
  left:425px;
  /* transition: 250ms ease-in-out; */
  z-index:3;
}

img.product3:hover {
  /* transform: rotate(-10deg) translate(20px,-5px); */
  animation-name: startdisplay;
  animation-duration: 500ms;
  animation-fill-mode: forwards
}

img.product4 {
  animation-name: enddisplay;
  animation-duration: 750ms;
  position:absolute;
  max-height: 28%;
  top:70px;
  left:525px;
  /* transition: 250ms ease-in-out; */
  z-index:2;
}

img.product4:hover {
  /* transform: rotate(-10deg) translate(20px,-5px); */
  animation-name: startdisplay;
  animation-duration: 500ms;
  animation-fill-mode: forwards
}

@keyframes startdisplay{
    to  {transform: rotate(-10deg) translate(20px,0px)};
}

@keyframes enddisplay{
  0%{
    transform: rotate(-10deg) translate(20px,0px)
  }
  50%{
    transform: rotate(10deg) translate(-20px,0px);
  }
  75%{
    transform: rotate(-5deg) translate(10px,0px);
  }
  100%{
    transform: rotate(0deg) translate(0px,0px);
  }
}

#display-description{
  position: absolute;
  right: 10px;
}

.display-detail{
  /* background-color: #CEC5C0; */
  position:absolute;
  top:0;
  left:0;
  padding-top:50px;
  padding-left:50px;
  display:block;
  width:100%;
  height:100%;
}

.display-detail h3{
  color: #F5E4DC; 
  text-align: left;
  font-size: 42px;
  font-family: 'Sacramento', cursive;
}
.display-detail p{
  color: rgb(87, 80, 76);
  font-family: 'Manrope', sans-serif;
  text-align: left;
  font-size: 18px;
}

#sidebar-group{
  z-index:998;
  position:absolute;
  top:0;
  left:0;
  display:inline-block
}

#flyoutMenu {
  align-items: center;
  text-align: center;
  width: 30vw;
  height: 100vh;
  background-color: #feeae1e1;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.75s
              cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 200;
}
 
#flyoutMenu.hide {
  transform: translate3d(-30vw, 0, 0);
}
 
#flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

#flyoutMenu h3 {
  font-size: 1em;
  margin:50px;
  opacity:0.6;
  transition: transform 250ms ease-in-out;
}
 
#flyoutMenu h3 a {
  opacity: 0.6;
  font-family: 'Manrope', sans-serif;  
  color: #333;
  text-align: center;
  text-decoration: none;
}
 
#flyoutMenu h3:hover {
  transform: scale(1.2);
  opacity: 1;
} 

#roundButton {
  position:fixed;
  top:0;
  left:0;
  background: transparent;
  margin: 20px;
  width: 75px;
  height: 75px;
  border-color:transparent;
  border-radius: 50%;
  transition: transform 1s
              cubic-bezier(0, .52, 0, 1);
  z-index:200;
  outline: none;
}

#roundButton.hide {
  transform: translate3d(0vw, 0, 0);
}
 
#roundButton.show {
  transform: translate3d(30vw, 0, 0) rotate(90deg);
}

#roundButton.show:hover {
  transform: translate3d(30vw, 0, 0) scale(1.3, 1.3) rotate(90deg);
}
 
#roundButton.hide:hover {
  cursor: pointer;
  transform: scale(1.3, 1.3);
}

#roundButton i{
  color: #C59A39;
}

#header {
  /* background: #ffffff; */
  z-index:500;
  position:fixed;
  left:0;
  top:0;
  width: 100vw;
  display:inline-block;
  text-align:center;
}

#header img {
  max-height: 75px;
  margin-top:15px;
  margin-bottom:15px;
}

#aboutus-background{
  width:100%;
  height:100vh;
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  background-color: #feeae1e1;
}

#aboutus-content {
  margin-top: 120px;
  margin-left:auto;
  margin-right:auto;
  /* margin-right:auto; */
  text-align: left;
}

#aboutus-content h4{
  font-size:1em;
  color:#231f20;
}

#aboutus-content p{
  font-size:0.75em;
}

#founder-title {
  color:#a04b4b;
}

#catalog-content {
  margin-top: 120px;
  text-align: center;
}

#product-list {
  margin: 75px;
  position:relative;
  display: flex;
  flex-wrap: wrap;
  display:inline-block;
  transition: transform 500ms ease-in-out;
}

#product-list:hover {
  transform: scale(1.1);
}

#product-hover {
  position:absolute;
  height:100%;
  width:100%;
  opacity:0;
  background-color: #ffffffbb;
  transition: opacity 500ms ease-in-out;
  align-items: center;
  justify-content: center;
  display:flex;
}

#product-hover h3{
  font-family:'Manrope', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  color: #7c3f40;
}

#product-hover:hover {
  opacity:1;
}

#product-show img{
  max-height: 500px;
  max-width: 500px;
}

#product-content {
  margin-top: 120px;
  text-align: center;
  position: relative;
  width:100%;
  /* display:inline-block; */
}

#back-to-catalog{
  display:inline-block;
  text-align:right;
  position: relative;
  z-index: 50;
}

#back-to-catalog a{
  text-decoration:none;
  font-family:'Manrope';
  font-size:1em;
  color:#231f20;
}

#back-to-catalog a>h3{
  font-size:1em;
  display: inline-block;
  transition: transform 150ms ease-in-out;
}

#back-to-catalog a:hover>h3{
  transform:translateX(-20px);
}

#back-to-catalog a>p{
  font-size:1em;
  display: inline;
}

#product-thumbnail {
  z-index: 40;
  display: flex;
  flex-wrap: wrap;
  text-align:center;
}

.thumbnails {
  margin-left:auto;
  margin-right:auto;
  position: relative;
  text-align:center;
}

.thumbnails img{
  max-width: 100%;
  max-height:75vh;
}

#navigation-thumbnail{
  margin-left:auto;
  margin-right:auto;
  margin-top:20vh;
  position: relative;
  text-align:center;
  background:transparent; /* Green */
  border: none;
  color: #C59A39;
  text-align: center;
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
  display:inline-block;
}

#navigation-thumbnail h1{
  cursor:pointer;
  transition: transform 250ms ease-in-out;
}

#navigation-thumbnail:hover h1{
  transform: translateX(-5px) scale(1.1)
}

#first-thumbnail{
  transition: opacity 100ms ease-in-out;
}

#second-thumbnail{
  transition: opacity 100ms ease-in-out;
}

#main-thumbnail.main-thumbnail-show {
  opacity:1;
}

#main-thumbnail.second-thumbnail-show {
  opacity:0;
  display:none;
}

#second-thumbnail.main-thumbnail-show {
  opacity:0;
  display:none;
}

#second-thumbnail.second-thumbnail-show {
  opacity:1;
}

#product-description {
  display:inline-block;
}

#product-description h4, h5, p {
  text-align: left;
}

#product-description p {
  font-size:0.75em;
}

.toggle {
  cursor:pointer;
  white-space: nowrap;
  overflow-x: auto;
  text-align: left;
}

.toggle h3{
  display:inline-block;
  font-size: 0.75em;
  font-family: 'Manrope', sans-serif;
  transition: transform 250ms ease-in-out;
}

.toggle p{
  display:inline-block;
  font-size: 0.75em;
  transition: transform 250ms ease-in-out;
}

.toggle:hover p{
  transition: translateX(10px);
}

.toggle-true h3{
  transform: rotate(90deg);
}

.product-title {
  text-transform: uppercase;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
